<script setup>
import { useI18n } from 'vue-i18n'
const { locale, t } = useI18n({
  inheritLocale: true
})
</script>

<template>
<!-- Container for demo purpose -->
<div class="sm:container px-6 sm:px-20 my-10 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-left">
    <div class="flex flex-wrap mb- w-full mx-auto">
        <div class="pt-4">
            <div class="ml-auto pb-3 text-3xl font-bold text-gray-800 ">
                {{t('about.title')}}
            </div>
            <div class="ml-auto text-md sm:text-lg pb-12 text-gray-800">
                {{t('about.text')}}
            </div>
            <div class="ml-auto text-md pb-1 text-gray-800">
                {{t('about.feedback')}}<a href="#" class="font-medium text-blue-600  hover:underline">feedback@pershiruki.org</a>
            </div>
            <div class="ml-auto text-md  text-gray-800">
               {{t('about.suggestions')}}<a href="#" class="font-medium text-blue-600  hover:underline">suggestion@pershiruki.org</a>
            </div>
                <!-- <form class="flex flex-col sm:flex-row">
                    <div>
                        <label class="sr-only" for="email-input">Email address</label>
                        <input autocomplete="email" class="w-72 rounded-md px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 dark:bg-black" id="email-input" name="email" placeholder="Enter your email" required="" type="email">
                    </div>
                    <div class="mt-2 flex w-full rounded-md shadow-sm sm:mt-0 sm:ml-3">
                        <button class="w-full rounded-md bg-blue-500 py-2 px-4 font-medium text-white hover:bg-blue-700 dark:hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 dark:ring-offset-black" type="submit">Sign up</button>
                    </div>
                </form> -->
        </div>
    </div>
  </section>
</div>
</template>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
