<script setup>
import Web3 from 'web3'
import { ref, reactive, inject, computed } from 'vue'
import { ethers } from "ethers"
import { useI18n } from 'vue-i18n'
const { locale, t } = useI18n({
  inheritLocale: true
})
const provider = window.ethereum ? new ethers.BrowserProvider(ethereum) : null

const web3 = inject('web3')
const exchange_rate = inject('exchange_rate')
const accounts = inject('accounts')

const loading = ref(false)
const donate_amount = ref(0)

const donate = () => {
  document.body.style.cursor='wait'
  let amount = (donate_amount.value * 1000000000000000000).toString(16)
  loading.value = true
  console.log(amount)
  ethereum
    .request({
      method: 'eth_sendTransaction',
      params: [
        {
          from: accounts.value[0], // The user's active address.
          to: '0xB178AA71a91E02FBdDEEc538Cc5AA38bA8F31FfC', // Required except during contract publications.
          value: amount, // Only required to send ether to the recipient from the initiating external account.
        },
      ],
    })
  .then((tx) => {
    let interval = setInterval(() => {
        web3.eth.getTransactionReceipt(tx, function(err, result) {
          if (result) {
            document.body.style.cursor='default'
            loading.value = false
            clearInterval(interval)
          }
        });
      }, 1000);
  })
}
</script>

<template>
<div class="sm:container px-6 md:px-20 my-10 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-left">
     <h2 class="text-3xl font-bold mb-12 text-center">{{t('header.support')}}</h2>
    <div class="w-full mx-auto">
            <div class="mb-6 w-full">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Ethereum:</label>
                <input v-model="donate_amount" type="number" step="0.0001" id="large-input" class="block w-full sm:w-1/3 p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500">
                <p v-if="donate_amount">~${{Math.round(donate_amount * exchange_rate * 100) / 100}}</p>
            </div>
            
            <img src="/loading.svg" class="w-16" v-if="loading">
            <button @click ="donate" class="block mb-6 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded px-10">
                {{t('funding.send')}}
            </button>
            <div class="ml-auto text-md pb-1 text-gray-800 break-words">
              XMR: 421mNAq7iAQZcKd239zPEhAVGL9c5GKJhfadpHG4rNBQ1NsQ7iRab8miL8NXXYsXmyiQ39RKnjoMtNE74sobwfPC6efPXMn
            </div>
            <div class="ml-auto text-md  text-gray-800 break-words">
              Bitcoin: mqFhJwbq6iKbguKVKznkydzDaxW8PYjRq8
            </div>
                <!-- <form class="flex flex-col sm:flex-row">
                    <div>
                        <label class="sr-only" for="email-input">Email address</label>
                        <input autocomplete="email" class="w-72 rounded-md px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 dark:bg-black" id="email-input" name="email" placeholder="Enter your email" required="" type="email">
                    </div>
                    <div class="mt-2 flex w-full rounded-md shadow-sm sm:mt-0 sm:ml-3">
                        <button class="w-full rounded-md bg-blue-500 py-2 px-4 font-medium text-white hover:bg-blue-700 dark:hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 dark:ring-offset-black" type="submit">Sign up</button>
                    </div>
                </form> -->
    </div>
  </section>
</div>
</template>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
