<script setup>
import { ref } from 'vue'

import { useI18n } from 'vue-i18n'
const { locale, t } = useI18n()
const t2 = useI18n()
const showModal = ref(false)
const showLanguages = ref(false)

const changeLocale = val => {
  currentLanguage.value = val
  showLanguages.value = false
  t2.locale.value = val
}
const currentLanguage = ref('uk')
const languages = ref(['uk', 'ua', 'ru'])
</script>

<template>
<div>
  <header class="header sticky top-0 bg-white flex items-center px-8 z-10" :class="{'shadow': !showModal}">

      <div class="w-1/12"></div>

      <h1 class="w-2/12">
          <router-link to="/">
          <a class="flex" href="">
            <img src="/logo.svg" class="logo w-16" alt="Vite logo" @click="showModal = false"/>
            <span class="py-5 px-5 hidden lg:block"><span class="text-2xl font-bold">{{t('header.title')}}</span> <br> {{t('header.slogan')}}</span>
          </a>
          </router-link>

      </h1>



      <!-- navigation -->

      <nav class="hidden md:block w-6/12 font-semibold text-lg">

          <ul class="flex items-center">

              <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">

                <router-link @click.prevent="test" to="/about">{{t('header.about_us')}}</router-link>

              </li>

              <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">

                <router-link to="/donate" >{{t('header.support')}}</router-link>

              </li>

          </ul>

      </nav>

      <!-- buttons --->
      <div class="w-9/12 md:w-3/12 flex justify-end">
          <div class="hidden md:flex">
            <a href="#">
              <img src="/ua.svg" @click="changeLocale(`ua`)" class="logo w-8" alt="Vite logo" />
            </a>

            <a href="#" @click="changeLocale(`uk`)" class="px-6">
              <img src="/uk.svg" class="logo w-10" alt="Vite logo" />
            </a>
            <a href="#" @click="changeLocale(`ru`)">
              <img src="/ru.svg" class="logo w-8 border-2 border-slate-800" alt="Vite logo"/>
            </a>
          </div>
          <div class="flex px-2 relative flex-col md:hidden mt-1.5">
            <a href="#" @click="showLanguages = !showLanguages">
              <img :src="`/${currentLanguage}.svg`" class="ml-1 logo w-8" alt="Vite logo" :class="{'border-2': (currentLanguage =='ru'), 'border-slate-800': (currentLanguage == 'ru')}"/>
            </a>
            <ul v-show="showLanguages" class="absolute top-6 z-50 flex flex-col border-0 pl-1 h-28 bg-white shadow">
                <a href="#" class="pt-6 mr-1" @click="changeLocale(`${language}`)" v-for="language in languages" v-show="language != currentLanguage">
                  <img :src="`/${language}.svg`" class="logo w-8" :class="{'border-2': (language =='ru'), 'border-slate-800': (language == 'ru')}"/>
                </a>
            </ul>
          </div>
          <svg @click="showModal = !showModal" xmlns="http://www.w3.org/2000/svg" class="md:hidden ml-6 w-8 h-8 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
      </div>
  </header>
  <Transition name="fade">
    <div class="sticky top-10  w-full bg-white shadow-md flex items-center px-8 z-1">
      <ul v-show="showModal" class="flex font-semibold text-lg flex-col w-full items-center">

          <li class="p-4 cursor-pointer">

            <router-link @click="showModal=!showModal" to="/about">{{t('header.about_us')}}</router-link>

          </li>

          <li class="p-4 cursor-pointer">

            <router-link @click="showModal=!showModal" to="/donate">{{t('header.support')}}</router-link>

          </li>

      </ul>
    </div>
  </Transition>

</div>
</template>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.padding_inherit{
  padding: inherit;
}

</style>
